*.aof
*.pyc
bilibili-scrapy/.idea/*
bilibili-scrapy/redis-64.2.8.2101/server1/nodes-7000.conf
bilibili-scrapy/redis-64.2.8.2101/server2/nodes-7001.conf
bilibili-scrapy/redis-64.2.8.2101/server3/nodes-7002.conf